button{
	background-color:yellow;
	margin-top:10px;
	color:black;
}
a{
	color:yellow;
}
.first{
	    position: fixed;
    width: 100%;
	
	background-image:url(./images/metaltexture7.jpg);

}
.second1{
	background-color:yellow;
	display:inline-block;
	text-align:left;
	padding: 20px 20px 15px 15px;
	margin-left:1105px;
	
}
.second{
	/* color:black;
	text-align:left; */
}
body{
	background-image:url(./images/back.jpg);
	background-size: 100px;
}
p{
	color:yellow;
	background-image:url(./images/bet2.jpg);
	display:inline-block;
	font-size:30px;
}
.familylist{
	background-image:url(http://gorabbit.ru/sites/default/files/field/image/bet2.jpg);
	color:white;
}



@font-face {
				font-family: 'BatmanFont';
				src: url('./fonts/batmanforever.eot'),
					url('./fonts/batmanforever.ttf'); 
			}
			body{
				margin: 0;
				padding: 0;
				font-family: 'BatmanFont';
			}
			a{
				text-decoration: none;
				color: black;
			}
			#logo{
				width: 150px;
			}
			#menu{
				
				display:none;
				font-size: 20px;
				padding: 0px;
				margin:0;
				list-style: none;
				position: absolute;
				background-image:url(./images/metaltexture7.jpg);
				width: 250px;
				box-sizing: border-box;
			}
			#menu2{padding: 0;
				display:none;
				list-style: none;
				position: absolute;
				background-image:url(./images/metaltexture7.jpg);
				width: 250px;
				box-sizing: border-box;
				left: 250px;
				margin-top: -30px;
			}
			
			.first:hover #menu{
				display: block;
			}
			#gadgets:hover #menu2{
				display: block;
			} 
			
			.gallery{
				font-size: 0;
			}
			.half{
				width: 50%;
			}
			.full{
				width: 100%;
			}
			.content{
				
				padding-left: 15px;
				padding-right: 15px;
				margin-top: 0;
				margin-bottom: 0;
				margin-left: 100px;
				margin-right: 100px;
			}
			
			#test {
				background-color: black;
				position: fixed;
				width: 320px;
				top: 0;
				height: 100%;
				left: -320px;
				
				transition: all 0.2s;
			}
			#menuicon:checked+#test{
				left: 0;
			}
			
			#menu>li, #menu2>li{
				    padding: 5px 10px;
			}
			#menu>li:hover, #menu2>li:hover{
				    background-color: yellow;
			}
			 .main{
				 padding-top:100px;
			 }
h1{
	margin: 0;
	text-align: center;
	height: 100px;
}
h1 a{
	display: inline-block;
	float: left;
}
h1 span{
	    display: inline-block;
    color: yellow;
        margin-top: 30px;
}